@tailwind base;
@tailwind components;
@tailwind utilities;


.text-input:focus + .text-label,
.text-input:valid + .text-label{
    top: -20px;
    font-size: 0.8em;
    color: #666;
}


/* .input-group{
    position: relative;
    margin: 20px 0;
}

.input-group label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    
    font-size: 20px;
    pointer-events: none;
    padding:  0 5px;
}

.input-group input{
    padding:10;
    border: 1px solid red;
    outline: none;
    border-radius: 5px;
}

.input-group input:focus~label,
.input-group input:valid~label{
    top: 0;
} */